<%= simple_form_for(@user) do |form| %>
  <%= form.input :first_name %>
  <%= form.input :last_name %>
  <%= form.input :email %>


  <h4>Resources</h4>
  <div data-controller="nested-form">
    <template data-target="nested-form.template">
      <%= form.simple_fields_for :permission_users, PermissionUser.new(user_id: form.object.try(:id)), child_index: 'NEW_RECORD' do |permission_user| %>
        <%= render "permission_user_fields", form: permission_user %>
      <% end %>
    </template>

    <%= form.simple_fields_for :permission_users do |permission_user| %>
      <%= render "permission_user_fields", form: permission_user %>
    <% end %>

    <div class="mb-3" data-target="nested-form.links">
      <%= link_to "+ Add permission", "#", class: "btn btn-xs btn-white", data: { action: "click->nested-form#add_association" } %>
    </div>
  </div>

  <div class="actions m-t-lg">
    <%= form.submit class: 'btn btn-primary' %>
    <%= link_to 'Back', users_path, class: 'btn btn-white' %>
  </div>
<% end %>
