<%= content_tag :div, class: "nested-fields", data: { new_record: form.object.new_record? } do %>
  <%= form.input :permission_id, collection: form.object.permission_id.present? ? [[form.object.permission.name_with_resource, form.object.permission.id, { selected: true }]] : [], input_html: { class: 'select2', data: { 'ajax--dataType' => :json, 'ajax--url' => permission_index_path, controller: 'select2' } } %>
  <small><%= link_to "Remove", "#", data: { action: "click->nested-form#remove_association" } %></small>
  <%= form.hidden_field :_destroy %>
<% end %>