<% content_for :ibox_title do %>
  <h1>Users</h1>
<% end %>

<table id="ajax-datatable" class="table"
  data-controller="datatable"
  data-datatable-config="<%= { 
    debug: true,
    serverSide: true,
    deferRender: true,
    ajax: users_path,
    dom: '<"html5buttons"B><lfr>t<ip>',
    stateSave: true,
    columns: [
      {title: 'First Name', data: 'first_name' },
      {title: 'Last name', data: 'last_name', },
      {title: 'Email', data: 'email', },
      {title: 'Actions', data: 'dt_actions', },
    ],
  }.to_json %>"
>
</table>

<br>

<%= link_to 'New User', new_user_path, class: 'btn btn-primary' %>
