
<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<table class='table'>
  <thead>
    <tr>
      <th>Resource</th>
      <th>Permission</th>
    </tr>
  </thead>
  <tbody>
    <%- @user.permissions.each do |permission| %>
      <tr>
        <td><%= permission.resource.name %></td>
        <td><%= permission.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary' %>
<%= link_to 'Back', users_path, class: 'btn btn-white' %>

