<div class="row wrapper border-bottom white-bg page-heading" data-turbolinks-permanent>
  <div class="col-lg-10">
    <h2>
      <%= yield :title %>
    </h2>
    <% unless content_for?(:breadcrumb) %>
      <ol class="breadcrumb">
        
      </ol>
    <% end %>
    <%= yield(:breadcrumb) if content_for?(:breadcrumb) %>
  </div>
  <div class="col-lg-2"></div>
</div>
