<nav class='navbar-default navbar-static-side' data-turbolinks-permanent>
  <div class='sidebar-collapse'>
    <ul class='nav metismenu' id='side-menu'>
      <li>
        <%= link_to "Resources", resources_path %>
      </li>
      <li>
        <%= link_to "Users", users_path %>
      </li>
    </ul>
  </div>
</nav>
