<div class="row border-bottom" data-turbolinks-permanent>
  <div class="navbar-header visible-xs">
    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="#">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  <ul class="nav navbar-top-links navbar-left m-t-md m-l-xs hidden-xs" id="system-messages"></ul>
  <ul class="nav navbar-top-links navbar-right">
    <li>
      <span id="timeField"></span>
    </li>
    <li>
      <%= link_to '#' do %>
        <%= fa_icon 'sign-out' %>
        <%= t('header.logout') %>
      <% end %>
    </li>
  </ul>
</div>
