<%= simple_form_for(@resource) do |form| %>
  
  <%= form.input :name %>
  <%= form.input :location %>
  <%= form.input :description %>
  
  <h4>Permissions</h4>
  <div data-controller="nested-form">
    <template data-target="nested-form.template">
      <%= form.simple_fields_for :permissions, Permission.new, child_index: 'NEW_RECORD' do |permission| %>
        <%= render "permission_fields", form: permission %>
      <% end %>
    </template>

    <%= form.simple_fields_for :permissions do |permission| %>
      <%= render "permission_fields", form: permission %>
    <% end %>

    <div class="mb-3" data-target="nested-form.links">
      <%= link_to "+ Add Permission", "#", class: "btn btn-xs btn-white", data: { action: "click->nested-form#add_association" } %>
    </div>
  </div>

  <div class="actions m-t-lg">
    <%= form.submit class: 'btn btn-primary' %>
    <%= link_to 'Back', resources_path, class: 'btn btn-white' %>
  </div>
<% end %>
