<% content_for :ibox_title do %>
  <h1>Resources</h1>
<% end %>

<table id="ajax-datatable" class="table"
  data-controller="datatable"
  data-datatable-config="<%= { 
    debug: true,
    serverSide: true,
    ajax: resources_path,
    dom: '<"html5buttons"B><lfr>t<ip>',
    stateSave: true,
    pageLength: 25,
    columns: [
      {title: 'Name', data: 'name', width: '30%' },
      {title: 'Location', data: 'location', },
      {title: 'Actions', data: 'dt_actions', },
    ],
  }.to_json %>"
>
</table>

<%= link_to 'New Resource', new_resource_path, class: 'btn btn-primary' %>
