<p>
  <strong>Name:</strong>
  <%= @resource.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @resource.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @resource.description %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource), class: 'btn btn-primary' %>
<%= link_to 'Back', resources_path, class: 'btn btn-white' %>
