




<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <title>Fluenta</title>
 
    <%= stylesheet_link_tag 'fluenta/layout/application-full', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    
  </head>
  <body class="skin-fl" >
    <!-- Wrapper
    -->
    <div id="wrapper">
      <!-- Navigation
      -->
      <%= render 'layouts/fluenta/layout/navigation' %>
      <!-- Page wraper
      -->
      <div class="gray-bg" id="page-wrapper">
        <!-- Page wrapper
        -->
        <%= render 'layouts/fluenta/layout/topnavbar' %>
        <%= render 'layouts/fluenta/layout/head_row' %>
        <%= render 'layouts/fluenta/layout/flash_messages' %>
        <!-- Main view
        -->
        <div class="wrapper wrapper-content">
          <div class="row">
            <% if content_for?(:row) %>
              <%= yield :row %>
            <% else %>
              <div class="col-sm-12">
                <div class="ibox">
                  <% if content_for?(:ibox_title) %>
                    <div class="ibox-title">
                      <%= yield :ibox_title %>
                    </div>
                  <% end %>
                  <% if content_for?(:ibox_content) %>
                    <%= yield :ibox_content %>
                  <% else %>
                    <div class="ibox-content">
                      <%= yield %>
                    </div>
                  <% end %>
                  <% if content_for?(:ibox_footer) %>
                    <div class="ibox-footer">
                      <%= yield :ibox_footer %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <!-- Footer
        -->
        <%= render 'layouts/fluenta/layout/footer' %>
      </div>
      <!-- End page wrapper
      -->
    </div>
    <%= render 'layouts/fluenta/layout/embed_go' %>
    <%= content_for :bottom_scripts %>
    <!-- End wrapper
    -->
    <div id="modal-holder"></div>
  </body>
</html>
